logs/*
*/.vscode/*
*/.git/*
exp/*
.vscode
__pycache__/
*.egg-info/
ckpt/
image*
exp/
cache/
checkpoints/
*.csv
# ignore large/checkpoint folders
diffusion_planner.egg-info/
nuplan-devkit/
training_log/